{{!< default}}

<div class="gh-page page-wrap">
	<div class="gh-container">

		<div class="gh-postfeed">
			{{#foreach posts}}
				{{> "card"}} {{!-- partials/card.hbs --}}
			{{/foreach}}
		</div>

       	{{pagination}}

	</div>
</div>
